@font-face{
    font-family: 'timer';
    src: url('cursedtimer.ttf')
}
body {
    margin: 0;
    background-color: #023047;
}

.container {
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    font-size: 40px;
}

#home-score, #away-score{
    font-family: timer;
    color: red;
    font-size: 70px;
    background-color: black;
    text-align: center;
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: -30px;
}
.buttons button{
    background-color: transparent;
    color: whitesmoke;
    font-family: timer;
    font-size: 35px;
    margin-top: 30px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 2px 10px;

}
.home-team,.away-team{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}